/.idea/
/Config/keys.json
/K3S/config/k3s.yaml

# Fichier mot de passe vault local
.vault_pass
**/.vault_pass

# Fichiers temporaires Ansible
**/*.retry
**/.ansible/
/.claude/settings.local.json
/Ansible/collections/
