[Unit]
Description=Create the ollama bearer middleware
After=traefik.service
BindsTo=traefik.service

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/etc/Homelab/Traefik/scripts/sync-ollama-bearer.sh

[Install]
WantedBy=multi-user.target