[Unit]
Description=Webhooks

[Service]
ExecStartPre=/bin/sh -c 'systemctl set-environment WEBHOOK_SECRET=$$(echo $SECRET)'
ExecStart=webhook -hooks /etc/Homelab/Webhook/hooks.json -template -verbose

[Install]
WantedBy=multi-user.target