[Unit]
Description=Webhooks

[Service]
ExecStart=webhook -hooks /root/Homelab/Webhook/hooks.json -template -hotreload

[Install]
WantedBy=multi-user.target