apiVersion: apps/v1
kind: Deployment
metadata:
  name: speedtest-exporter
  labels:
    app: speedtest-exporter
    namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: speedtest-exporter
  template:
    metadata:
      labels:
        app: speedtest-exporter
    spec:
      containers:
        - name: speedtest-exporter
          image: miguelndecarvalho/speedtest-exporter:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 9798